<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="all.about.apartment.mappers.BidderMapper">
	<select id="bidDetail" parameterType="String" resultType="BidProductVO">
		select* from bidproduct
		where bid_id = #{bid_id}
	</select>
	
</mapper>