<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="all.about.apartment.mappers.BidMapper">

	<!-- 등록 -->
	<insert id="create" parameterType="BidProductVO">
		insert into bidproduct(bid_id,bid_name,bid_start,
		bid_date,bid_time,bid_nowprice,bid_content,bid_filename, addtime, bid_state)
		values(bid_seq.nextval,#{bid_name},#{bid_start},
		sysdate,#{bid_time},#{bid_start},#{bid_content},#{bid_filename}, 0, '진행중')
	</insert>
	
	<!-- 수정 -->
	<update id="update" parameterType="BidProductVO">
		update bidproduct
		 
		set bid_name=#{bid_name},bid_filename=#{bid_filename},
		bid_start=#{bid_start},bid_time=#{bid_time},bid_content=#{bid_content}
		
		where bid_id=#{bid_id} 
	
	</update>
	
	<delete id="delete">
		delete from bidproduct where bid_id=#{bid_id}
	</delete>
	
	<!-- 상품평 -->
	<update id="readInsert" parameterType="HashMap">
		update bidproduct
		set bid_evaluation = #{bid_evaluation}
		where bid_id=#{bid_id}
		
	</update>
	
	<!-- 전체 페이지 -->
	<select id="read" resultType="BidProductVO">
		select * from bidproduct
		where bid_id>0 and bid_state = '진행중'
	</select>
	
	<select id="read2" parameterType="String" resultType="BidProductVO">
		select *
		from bidproduct
		where bid_state = '진행중'
		order by ${value} desc
	</select>

	<!-- 상세 조회 -->
	<select id="readDetail" resultType="BidProductVO">
		select * from bidproduct
		where bid_id = #{bid_id}

	</select>
	
	 <insert id="addAttach" parameterType="FileVO">
		insert into bidcontent(content_id,bid_id,content_filename)
		values (content_id_seq.nextval,#{bid_id},#{content_filename})
	</insert>
	 
	
   <select id="maxNum" resultType="int">
      select MAX(bid_id) from bidproduct
   </select>
   
   <select id="getAttach" resultType="string">
   	select content_filename from bidcontent where bid_id>0
   </select>
   
   
   
   
  <!--  
   <delete id="deleteAttach">
   	delete from bidproduct where bid_id = #{bid_id}
   </delete>
   
   <insert id="replaceAttach">
   	insert into bidproduct(fullname,bid_id) values (#{fullName},#{bid_id})
   </insert> -->
   <update id="addBidTime" parameterType="HashMap">
  		update bidproduct set addTime = addTime + 1
  		where bid_id = #{bid_id} 
   </update>
   
   <update id="updateBidState" parameterType="String">
   		update bidproduct set bid_state = '판매 종료'
   		where bid_id = #{bid_id}
   </update>
   
</mapper>