<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="all.about.apartment.mappers.BillMapper">

	<select id="getPersonal_mgmt_ex" resultType="Personal_mgmt_exVO">
		SELECT * FROM Personal_mgmt_ex
	</select>
	
	 <select id="getOnePersonal_mgmt_ex" resultType="Personal_mgmt_exVO">
		SELECT * FROM Personal_mgmt_ex WHERE u_id = #{u_id} AND p_month = #{p_month}	
	</select> 
	
	<select id="getSaleBill" resultType="SaleBillVO">
		SELECT * FROM sale_bill WHERE input_num = #{input_num}
	</select>
	
	<select id="getEnergyList" resultType="EnergyVO">
		SELECT e.* 
		FROM personal_mgmt_ex p, energy e  
		WHERE p.u_id = #{u_id} AND p.p_month = #{p_month} AND p.input_num = e.input_num

	</select>
	
	<select id="getSelectDetail" resultType="Personal_mgmt_exVO">
		SELECT * 
		FROM personal_mgmt_ex 
		WHERE u_id = #{u_id} AND p_month LIKE #{p_month} ORDER BY input_num
	</select>
	
	<select id="getYearEnergy" resultType="EnergyVO">
		SELECT * 
		FROM energy
		WHERE input_num = (SELECT input_num FROM personal_mgmt_ex WHERE u_id = #{u_id} AND p_month = #{p_month} )
	</select>
	
	<select id="getElecAVG" resultType="int">
	SELECT AVG(${energyName}) 
	FROM energy 
	WHERE input_num IN(
							SELECT input_num 
							FROM personal_mgmt_ex 
							WHERE p_month like #{p_month} AND width = #{width}
					)
	</select>
	
	<select id="getElecList" resultType="ScorePMEVO">
		SELECT rownum,input_num,allUsed FROM SCORE_elec_PERSONAL_MGMT_EX
	</select>
	<select id="getHeatList" resultType="ScorePMEVO">
		SELECT rownum,input_num,allUsed FROM SCORE_heat_personal_mgmt_ex
	</select>
	
	<select id="getScoreNum" parameterType="String" resultType="int">
		SELECT count(*) FROM ${value}
	</select>

	<select id = "getSelectEnergyList" resultType="ScorePMEVO">
		SELECT rownum,input_num,allUsed FROM ${value}
	</select>


	<select id="getAVGelecMonth" parameterType="string" resultType="double">
		SELECT
		ROUND(AVG(e.elec),3) as elecAVG
		FROM personal_mgmt_ex p ,energy e
		WHERE p.input_num = e.input_num AND p.p_month like #{value}
	</select>
	

</mapper>  











