<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="all.about.apartment.mappers.MessageMapper">
	
	<!-- 메세지 보내기 -->
	<insert id="sendMessage" parameterType="MessageDTO">
		insert into message
			(msg_id, msg_content,msg_regdate,sender, receiver, type_id)
		values
			(msg_seq.nextval,#{msg_content},sysdate,#{sender},#{receiver},#{type_id})
	</insert>
	
	<!-- 메세지 내역 확인 -->
	<select id="recieveMessage" parameterType="String" resultType="MessageVO">
		SELECT m.receiver,m.msg_id, m.msg_content, m.msg_regdate , m.read_check, m.sender, r.r_authority
		FROM message m JOIN resident r
		on m.sender = r.r_id
		WHERE m.receiver = #{reciever}
		ORDER BY m.msg_regdate DESC	
	</select>
	
	<!-- 새로운 메세지 갯수 -->
	<select id="newMsgCount" parameterType="String" resultType="int">
		SELECT count(*) from message
		WHERE read_check = 'N'
		and receiver = #{reciever}
	</select>
	
	<!-- 읽음 처리 -->
	<update id="update_ck" parameterType="int">
		update message set read_check ='Y'
		where msg_id = #{msg_id}
	</update>
</mapper>







