<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="all.about.apartment.mappers.MessageMapper">

	<!-- 메세지 보내기 -->
	<insert id="sendMessage" parameterType="MessageDTO">
		insert into message
		(msg_id, msg_content,msg_regdate,sender, receiver, type_id)
		values
		(msg_seq.nextval,#{msg_content},sysdate,#{sender},#{receiver},#{type_id})
	</insert>

	<!-- 메세지 내역 확인 -->

	<select id="recieveMessage" resultType="MessageVO">
		SELECT m.receiver,m.msg_id, m.msg_content, m.msg_regdate , 
						m.read_check, m.sender, r.r_authority
		FROM message m JOIN resident r
			on	m.sender = r.r_id
		WHERE receiver = #{receiver}
		
		<include refid="search"/>
		
		and r.r_authority like #{r_authority}
		ORDER BY msg_regdate DESC
	</select>
	
	<!-- 새로운 메세지 갯수 -->
	<select id="newMsgCount" resultType="int">
		SELECT count(*) from message
		WHERE read_check = 'N'
		and receiver = #{receiver}
	</select>


	<!-- 읽음 처리 -->
	<update id="update_ck" parameterType="int">
		update message set
		read_check ='Y'
		where msg_id = #{msg_id}
	</update>

	<!-- 페이징 처리를 위한 쪽지 총 갯수 -->
	
	<select id="msgCnt" resultType="int">
		SELECT count(*)
		FROM message m JOIN resident r
		on	m.sender = r.r_id
		WHERE receiver =#{receiver}
		
		<include refid="search"/>
		
		and r.r_authority like #{r_authority}
	</select>

	<!-- 검색 -->
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'c'.toString()">
				and msg_content like '%'|| #{keyword}||'%'
			</if>
			<if test="searchType == 's'.toString()">
				and sender like '%'|| #{keyword}||'%'
			</if>
			<if test="searchType == 'cs'.toString()">
				and ( sender like '%'|| #{keyword}||'%' 
				OR msg_content like '%'||#{keyword}||'%')
			</if>
		</if>
	</sql>
	
	<!-- 카테고리 -->

</mapper>
